@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

<html>

    <body>
<form asp-controller="Announcement" asp-action="Post" method="Post">
    <textarea name="message" ></textarea>
    <input type="submit" value="send">
</form>

    </body>
</html>