@page
<textarea name="message" id="message"></textarea>
<button type="button" id="sendButton" value="send message">Send Message</button>
<div id="messages"></div>
<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>